*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tituloPrin{
    font-family: 'Kanit', sans-serif;
    background-color: #9FC088;
    font-size: 4rem;
    padding: 10px;    
}

nav{
    background-color: #E8C07D;
    padding: 15px;
}

.menu{
    display: flex;
    justify-content: space-evenly;
}

.menuInd{
    border-radius: 10px solid black;
    font-weight: bold;
    list-style-type: none;
}

main{
    background-color: #CC704B;
    display: grid;
    height: 600px;
    grid-template-areas: "img p"
                         "img p";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

main p{
    text-align: center;
    grid-area: p;
    width: 800px;
    font-size: 1.5rem;
    padding: 15%;
}

.imgPrin{
    grid-area: img;
    height: 50%;
    width: 50%;
    justify-self: center;
    padding: 10%;
}

footer{
    background-color: #614124;
}

h2{
    text-align: center;
    font-size: 1.5rem;
}

